body {
    background-color: black;
    color: seashell;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
}

/* NAVBAR */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    padding: 10px;
    border-bottom: solid 1px seashell;
}

.navbar img {
    height: 50px;
    width: auto;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar a {
    display: block;
    color: seashell;
    text-decoration: underline;
    padding: 14px 20px;
}

.navbar a:hover {
    background-color: #2b2b2b;
}

.mission-section {
    position: relative;
}

.mission-section img {
    display: block;
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.mission-text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: black;
}

.mission-text h2 {
    margin: 0 0 10px;
}

.mission-text h4 {
    margin: 0;
}

.tom-section {
    width: 1000px;
    margin: 100px auto;
    text-align: center;
}

.tom-tea {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.tea-card {
    margin: 0;
}

.tea-card img {
    width: 300px;
    height: 200px;
    display: block;
    margin-bottom: 20px;
}

.tea-card figcaption {
    font-weight: bold;
    font-size: 22px;
}